<!-- start custom footer snippets -->

<h5>About Near-Miss Management</h5>
<p>Near-Miss Management (NMM) provides one-of-its-kind enterprise risk detection and advanced warning platform for the process industries. Described as ​disruptive innovation​ by our customers, NMM products are transforming how risks are managed in industrial operations.</p>



<!-- Footer Nav -->

<ul>
  <li><a href="/products">Products</a></li>
  <ul>
    <li><a href="/stories">Success Stories</a></li>
    <li><a href="/faqs">FAQs</a></li>
    <li><a href="/products#how-it-works">How it works</a></li>
  </ul>
  <li><a href="/newsroom">Newsroom</a></li>
  <ul>
    <li><a href="/newsroom">Media</a></li>
    <li><a href="/newsroom">Events</a></li>
    <li><a href="/newsroom">Publications</a></li>
  </ul>
  <li><a href="/company">Company</a></li>
  <ul>
    <li><a href="/company#leadership-team">Leadership Team</a></li>
    <li><a href="/company#advisory-board">Advisory Board</a></li>
    <li><a href="/company#academic-advisors">Academic Advisors</a></li>
  </ul>
  <li><a href="/contact">Contact</a></li>
  <ul>
    <li>1800 JFK Blvd. Suite 300</li>
    <li>Philadelphia, PA 19103</li>
    <li>267-603-2378</li>
    <li><a href="mailto:info@nearmissmgmt.com">info@nearmissmgmt.com</a></li>
    <li><a href="https://linkedin.com/{{ site.twitter.username }}"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/company/near-miss-management"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i></a></li>
  </ul>

</ul>



<!-- end custom footer snippets -->

