// custom.scss   hacks and tests

.archive__item {
  // display: none;
}

.fstraat {
  color: red !important;
  font-size: 10rem;
}


// Products Page

.archive__item-teaser {

  img {
    width: 50%;
  }
}
