// custom.scss   hacks and tests


.page__hero--overlay {
  text-align: center;
}


.page__title {
  font-weight: 100;
  letter-spacing: -0.61px;
  line-height: 3rem;
  font-size: 74px;
  font-size: 3.444rem;
}

.page__lead {
  font-family: OpenSans;
  font-size: 25px;
  margin-top: -20px;
  max-width: 100% !important;
  margin: 20px 10%;
}


.btn--light-outline {
  text-transform: uppercase;
  font-weight: 600;
}




.archive__item-title {
    text-transform: uppercase;
    font-size: 1rem;
}


// Products Page

.archive__item-teaser {

  img {
    width: 50%;
  }
}



// Footer

.page__footer {
  background-color: #4A4A4A;
}



