// custom.scss   hacks and tests


// Base
// ------------------------------

body {
  // background-color: #5D7888;
  // color: darken(#83A3B6,25%);
  // color: #bec9cf;
  border-color: #bec9cf;
}

section { 
  padding-bottom: 2rem;
}

#main {
  min-height: 550px;
}



.masthead {
  // background-color: red;
}


.btn--light-outline {
  text-transform: uppercase;
  font-weight: 600;
}


.btn--inverse {
  i {
    color: #52adc8;
    padding-right: 3px;
  }

  &:hover {
    color: #ffffff;
  }
}


.btn--inverse-news {
  color: #7a8288 !important;
  border: 1px solid #9E5697 !important;
  background-color: #fff;

  &:hover {
    color: #ffffff !important;
    background-color: #9E5697 !important;
  }
}

.btn--inverse-events {
  color: #7a8288 !important;
  border: 1px solid #FFC700 !important;
  background-color: #fff;

  &:hover {
    color: #ffffff !important;
    background-color: #FFC700 !important;
  }
}

.btn--inverse-publications {
  color: #7a8288 !important;
  border: 1px solid #68BF1C !important;
  background-color: #fff;

  &:hover {
    color: #ffffff !important;
    background-color: #68BF1C !important;
  }
}


// Header
// ------------------------------

// .masthead__inner-wrap {
//   padding-top: 2px !important;  
//   padding-bottom: 2px !important;  
// }



.masthead__menu-item.active a {
  color: #FBBD49;
  font-weight: 600;
  border-bottom: 4px solid #FBBD49;
  padding-top: 8px;
  padding-bottom: 6px;

  &:before {
    background-color: #ffffff;
  }
}

.greedy-nav {
  button {
    padding-top: 20px;
    padding-bottom: 15px;
    // background: none;
  }

  .hidden-links {
    margin-top: 25px;
    margin-right: 8px;
  }

}


.close .navicon {
  background: #7a8288;
}


#stickyheader {
  background-color: #ffffff;
  width: 100%;
}


// Navigation
// ------------------------------

.greedy-nav .visible-links {
  // margin: 0 auto;
}

.greedy-nav {
  // background-color: red;
}


.masthead__menu {

}



// Page
// ------------------------------

.page__hero--overlay {
  min-height: 80vh;
  text-align: center;

  .wrapper {
    padding-top: 10vh;
  }

  .page__title {
    // padding-bottom: 3rem;
    font-weight: 600;
  }

  .page__lead {
    // padding-bottom: 2rem;
  }
}

.page__author {
 text-transform: uppercase;
 font-size: $type-size-6;
 color: #9BA1A6;
 display: block;
 padding-bottom: 0.5em;
}

.page__title {
  font-size: $type-size-1;
  font-weight: 200;
  letter-spacing: -0.61px;
  line-height: 3rem;

}

.page__lead {
  font-weight: 200;
  // margin-top: -20px;
  max-width: 100% !important;
  // margin: 20px 10%;

  // display: table-cell;
  // vertical-align: center;
  padding-bottom: 2em;

}


p.page__meta {
  font-size: $type-size-6;
}

.page__content {
  padding-top: 1rem;

  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: $type-size-2;
    text-align: center;
    color: #434A54;
    font-weight: 400;
  }

}


.page__section-title {
  // text-transform: uppercase;
}

.page__section-diagram {
  text-align: center;
  padding: 3rem;

  img {
    width: 400px;
  }

}


.intro {
  text-align: center;

  h1 {
    font-size: $type-size-2; 
  }
}

.section-action {
  text-align: center;
  display: block;
  clear: both;
}

// Feature
// ----------------------------
.feature__wrapper {
  padding-top: 3rem;
  padding-top: 2rem;
  border-bottom: none;
}


section {

  h2 {
    // color: #5D7888;
    // color: #dadada;
    // color: #FBBD49;
    // opacity: 0.8;
    // font-size: $type-size-3;
    // text-transform: uppercase;
    // text-align: center;
    // font-size: $type-size-3;
    // font-weight: 600;
  }
}


.archive__item-title {
  // text-transform: uppercase;
  // font-size: 1rem;
}


// Products Page

.archive__item-teaser {
  text-align: center;

  img {
    width: 50%;
  }
}


// Testimonials

.section__testimonials {
  @include push(2 of 12);
}

.testimonial {

  &:before {
    font-family: FontAwesome;
    content: '\f10d';
    color: #E6EAED;
    font-size: 3rem;
    position: relative;
    top: 54px;
    left: -56px;
  }
}


.testimonial__role {
  text-style: italic;
  color: #B0B0B0;
}

.testimonial__source {
  text-transform: uppercase;
  color: #B0B0B0;
}

#testimonial-wrapper {
  background-color: #83A3B6;
  margin-left: -37rem;
  margin-right: -37rem;
  padding-top: 3rem;
  padding-bottom: 5rem;

  .testimonial {
    margin-bottom: 3rem;
    text-align: center;
    color: #ffffff;  
    font-size: 1.2rem;  

    &__role,
    &__source {
      color: #E6EAED;
      opacity: 0.8;      
    }

    i {
      font-size: 2.5rem;
      opacity: 0.5;
      padding-right: 10px;
    }
  }

  .testimonial:before {
    display: none;
  }


}




// Insutries

section .industries {

  .archive__grid {
    @include clearfix;

    img {
      border-radius: 2px;
    }

    .archive__item-title {
      font-weight: 400;
      font-size: $type-size-4;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: -1rem;
      color: #ffffff;
      padding-left: 8px;
      padding-top: 1px;
      position: relative;
      top: 45px;
      display: block;
    }

    .archive__item:hover {
      transform: scale(1.05);
      transition: 0.2s;

      img {
        box-shadow: 1px 1px 1px #dadada;
      }

    }

  }

}

section .archive__industries {

  .archive__item {
    width: span(12);
    padding-top: 0.2rem;
    margin-bottom: 45px;
  }

  img {
    width: span(10);
    padding-bottom: 1rem;
    padding-top: 0.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .info {
    // width: span(8);
    p {
      padding-right: 3rem;
    }
  }
}


@media only screen and (min-width: 600px) {

  section .industries {
    padding-top: 2rem;

    .archive__item {
      @include gallery(6 of 12);

      img {
        // width: 380px;
      }
    }

  }
}




// Company - Team
// ------------------


.team__grid {
 @include clearfix;
}


.team__item {
  width: span(12);
  padding-left: span(0.5 of 12);
  padding-right: span(0.5 of 12);
  margin-bottom: gutter(6);
  padding-bottom: 1.5rem;


  &:nth-last-child(-n + 3) {
    // margin-bottom: 0;
  }

  h3 {
    font-family: $sans-serif;
    font-size: $type-size-3;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  em {
    display: block;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    font-style: normal;
    font-size: $type-size-5;
    color: #FBBD49;
  }

  img {
    min-width: 280px;
    border: 1px solid #F0F0F0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
    opacity: 0.8;
  }

  &:hover {
    img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 1;
    }
  }

}


// Newsroom
// -----------------
.filters-button-group {

  padding-bottom: 2rem;

  label {
    display: inline-block;
  }

  .btn {
    &:focus {
      outline: none;
    }
  }

  .btn.is-checked {
    color: #ffffff;

  }

  .btn--events.is-checked { 
    background-color: #FFC700;
    color: #ffffff !important;

  }

  .btn--news.is-checked { 
    background-color: #9E5697;
    color: #ffffff !important;
    
  }

  .btn--publications.is-checked { 
    background-color: #68BF1C;
    color: #ffffff !important;
    
  }
  
}

.sidebar {
  img {
    width: auto;
  }

  .publication__avatar {
    padding-bottom: 0.5rem;
  }
}

.grid__item {

  .archive__item {
    height: 320px;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
    border-top: 2px solid;
    box-sizing: border-box;
    border-top-color: #D8D8D8;

    &-title {
      text-align: left;
      font-size: $type-size-4;
      padding-bottom: 0px;
    }

    &-author {
      text-transform: uppercase;
      font-size: $type-size-6;
      color: #9BA1A6;
      display: block;
      padding-bottom: 0.5em;
    }

    &-logo {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      width: 100%;
      display: block;
      padding-left: 25%;

      img {
        max-width: 190px;
        max-height: 140px;
        display: block;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.8;
      }
    }


    &-link {
      // float: right;
      position: relative;
      top: 265px;
      margin-top: 1rem;
      a {
        float: right;
      }
    }

    &-events {
      border-top-color: #FFC700;
    }

    &-news {
      border-top-color: #9E5697;
    }

    &-publications {
      border-top-color: #68BF1C;
    }


    &:hover {
      img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
      }
    }



  }
  @include breakpoint($medium) {
    margin-left: 0; // reset before mixin does its thing
    margin-right: 0; // reset before mixin does its thing
    @include gallery(4 of 12);
  }



}




// Desktop
// -----------------------

@media only screen and (min-width: 600px) {

  .team__item { 
    @include gallery(6 of 12);
  }
}


// Footer
// ------------------------------

.page__footer {
  background-color: #4A4A4A;
  margin-top: 0px;
}

.page__footer-info {
  font-size: $type-size-6;
  width: span(12);
  display: inline-block;
  margin-bottom: 2em;
}

.page__footer-brand {
  width: span(3);
  float: left;
  padding-top: 0.65rem;
  
  img:last-child{
    display:none;
  }

  &:hover img:first-child {
    display:none;
  }

  &:hover img:last-child{ 
    display:inline-block;
  }



  @media only screen and (max-width: 800px) {
    width: span(12);
  }
}



.page__footer-text {
  width: span(9);
  float: right;

  @media only screen and (max-width: 800px) {
    width: span(12);
  }
}


.page__footer-nav {
  float: right;
  width: span(12);


  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    color: #83A3B6;
    margin-bottom: 0px;
    min-width: 9rem;
  }

  .nav-item {
    float: left;
    padding-left: 0.5rem;
    margin-right: 4rem;
  }


  .nav-heading {
    text-transform: uppercase;
    color: #dadada;

    a {
      display: block;
    }
  }

  .nav-contact {
    li {
      font-size: 0.85rem;
    }
  }

  .footer-social {
    display: inline;
    font-size: 1.7rem;
    opacity: 0.7;

    i {
      color: #83A3B6;
      position: relative;
      left: -5px;
    }
  }

}

.page__footer-copyright { 
  width: span(12);
  display: inline-block;
  text-align: center;
}


.page__footer-legal {
  text-align: center;
  font-size: $type-size-6;
  padding-top: 10px;
}

.page__footer-brand {

  max-width: 250px;
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
  transition: 0.3s;
  opacity: 0.8;

}



// Top Header
// ========================

.tophead {
  width: span(12);
  // background-color: red;
}

// Branding 

// .brand {
//   display: inline-flex;
//   padding-left: 1rem;
//   padding-top: 0.5rem;


//   a {
//     text-decoration: none;
//     color: #333333;
//   }

//   h1 {
//     font-size: $type-size-5;
//     line-height: 2em;
//     font-family: 'DINLight', sans-serif;
//     text-transform: uppercase;
//     font-weight: 200;
//     cursor: default;
//     opacity: 0.6;
//     color: #000000;
//     cursor: pointer;
//   }

//   img {
//     width: 54px;
//     padding-right: 6px;
//     padding-top: 4px;
//   }


// }


// Branding 


.brand {

}
.logo {
  float: left;
  padding-top: 7px;
  padding-right: 5px;
  img {
    width: 54px;
    // padding-right: 6px;
    // padding-top: 4px;
  }

}



//  Contact

.contact {

  &__wrap {
    width: span(12);
  }

  &__map {
    width: auto;
    float: left;
  }

  &__info {
    width: 220px;
    margin-left: 10px;
    float: left;


    i {
      text-align: left;
    }

    a {
      color: #494e52;

      &:hover {
        color: #2B97DE;
      }
    }

    h3 {
      margin-top: 2px;
    }

  }

}
