---
title: "Resolve Process Problems at their Initiation Stage – with Early Detection of Hidden Risks" 
layout: splash
excerpt: Dynamic Risk Analyzer&trade; is transforming the way Industrial Operations identify and reduce their risks – by providing early indicators of developing risks and allowing for preventive actions.

header: 
  overlay_image: splash-01.jpg
  overlay_filter: 0.45
  cta_label: "Learn More"
  cta_url: "#start"
read_time: true

feature_row:
  - image_path: nmm-benefit_01.png
    title: "Reduced Unexpected Shutdowns and Process Failures"
    excerpt: "DRA is designed to uncover hidden problems, so you can stay focused on finding solutions, not hunting for problems."
  - image_path: nmm-benefit_02.png
    title: "Increased On-Stream Efficiency and Capacity Utilization"
    excerpt: "DRA provides 'peripheral vision' on issues, developing on the sidelines, enabling you to address new risks and their drivers."
  - image_path: nmm-benefit_03.png
    title: "Improved Process Safety and Reliability"
    excerpt: "What makes DRA unique is its ability to rip through the entire spectrum of process data, uncovering problems, long before humans or alarms can."


---

{% include base_path %}


<div id="start" class="intro">
  <h1>Proactive, Resilient Industrial Operations</h1>

  <p>Developed uniquely for the Process Industries, Dynamic Risk Analyzer&trade; (DRA) is a software platform that delivers advanced warnings on hidden process issues, typically days or weeks before the alarms.  DRA users report the following benefits within a few days of usage.</p>
</div>

{% include feature_row %}


<section class="industries">
  <h2 class="page__section-title">Industries We Work With</h2>


  <div class="archive__grid">
    <div class="archive__item">
      <span class="archive__item-title">Oil and Gas</span>
      <img src="images/industry-01.png" alt="">     
    </div>

    <div class="archive__item">
      <span class="archive__item-title">Chemicals</span>
      <img src="images/industry-02.png" alt="">
    </div>


    <div class="archive__item">
      <span class="archive__item-title">Energy</span><img src="images/industry-03.png" alt="">
      <div id="gradient"></div>
    </div>


    <div class="archive__item">
      <span class="archive__item-title">Manufacturing</span>
      <img src="images/industry-04.png" alt="">
    </div>
  </div>
</section>



<!-- <h2 class="page__section-title">Try DRA</h2>

<form>
  <input type="text" name="name" placeholder="Company Name">
  <input type="email" name="email" placeholder="Email Address">
</form>

<button class="btn btn--info btn--large">Request a Demo</button>

 -->

<h2 class="page__section-title">Recent News</h2>
<br>
<div class="grid__wrapper">
  {% for post in site.posts limit:6 %}
  {% include news-single.html type="grid" %}
  
  {% endfor %}
</div>




