---
title: "Discover Hidden Process Risks Before They Become Failures"
layout: splash
excerpt: Dynamic Risk Analyzer&trade; is transforming the way Industrial Operations identify and reduce their risks – by enabling detection of process problems at their initiation stage.

header: 
  overlay_image: splash-01.jpg
  overlay_filter: 0.45
  cta_label: "Get Started"
  cta_url: "#start"
read_time: true

feature_row:
  - image_path: nmm-benefit_01.png
    title: "Reduced Unexpected Shutdowns and Process Failures"
    excerpt: "DRA is designed to uncover hidden problems so you can focus on the solutions, not hunting for problems."
  - image_path: nmm-benefit_02.png
    title: "Increased Capacity Utilization and On-Stream Efficiency"
    excerpt: "DRA provides 'peripheral vision' on issues, developing on the sidelines, enabling you to address new risks and their drivers."
  - image_path: nmm-benefit_03.png
    title: "Improved Process Safety and Reliability"
    excerpt: "What makes DRA unique is its ability to rip through the entire spectrum of process data, uncovering problems, long before humans or alarms can."


---

{% include base_path %}


<div id="start" class="intro">
  <h1>Proactive, Resilient Industrial Operations</h1>

  <p>Developed uniquely for the Process Industries, Dynamic Risk Analyzer&trade; (DRA) is a software platform that delivers advanced insights into hidden process risks, days/weeks in advance.  DRA users report the following benefits within a few days of usage.</p>
</div>

{% include feature_row %}

<h2>INDUSTRIES WE WORK WITH</h2>


<div class="archive__grid">
  <div class="archive__item">

    <img src="images/industry-01.png" alt="">

    <div class="archive__item-body">
      <h3 class="archive__item-title">Oil and Gas Refining</h3>
    </div>
  </div>

  <div class="archive__item">

    <img src="images/industry-02.png" alt="">

    <div class="archive__item-body">
      <h3 class="archive__item-title">Chemical Manufacturing</h3>
    </div>
  </div>


  <div class="archive__item">

    <img src="images/industry-03.png" alt="">

    <div class="archive__item-body">
      <h3 class="archive__item-title">Oil and Gas Production</h3>
    </div>
  </div>


  <div class="archive__item">

    <img src="images/industry-04.png" alt="">

    <div class="archive__item-body">
      <h3 class="archive__item-title">Electric Power</h3>
    </div>
  </div>
</div>



<!-- <h2>TRUSTED BY THE INDUSTRY</h2>

<ul>
  <li>ISHN</li>
  <li>Control Engineering</li>
  <li>CEP Magazine</li>
</ul>
 -->


<!-- <h2>Try DRA</h2>

<form>
  <input type="text" name="name" placeholder="Company Name">
  <input type="email" name="email" placeholder="Email Address">
</form>

<button class="btn btn--info btn--large">Request a Demo</button>

 -->

<!--

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}
-->
