---
layout: single
sitemap: true

excerpt: A new era in process risk management is here—through pioneering techniques and innovative solutions based on the concept of hidden near-misses.

header: 
  overlay_image: https://mmistakes.github.io/minimal-mistakes/images/unsplash-gallery-image-2.jpg
  overlay_filter: 0.45
  cta_label: "Request a Demo"
  cta_url: "#"
read_time: true

---

{% include base_path %}


<h1>A new kind of predictive risk analytics company</h1>

<p>Hidden near-misses can only be identified through thorough analysis of total process and alarm data. Our products and services help companies improve their safety performance, increase their bottom line, and foster their sustainability by addressing process risks in plant operations.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

