{% include base_path %}



<!-- Footer Nav -->
<div class="page__footer-nav">

  <ul class="nav-item">
    <a class="nav-heading" href="/index">Home</a>
    <li><a href="/index.html#benefits">Benefits</a></li>
    <li><a href="/index.html#industries">Industries</a></li>
  </ul>


  <ul class="nav-item">
    <a class="nav-heading" href="/products">Products</a>
    <!-- <li><a href="/stories">Success Stories</a></li> -->
    <li><a href="/products#features">Features</a></li>
    <li><a href="/products#how-it-works">How It Works</a></li>
    <li><a href="/faqs">FAQs</a></li>
  </ul>

  <ul class="nav-item">
    <a class="nav-heading" href="/company">Company</a>
    <li><a href="/company#leadership-team">Leadership Team</a></li>
    <li><a href="/company#advisory-board">Advisory Board</a></li>
    <li><a href="/company#academic-advisors">Academic Advisors</a></li>
  </ul>

  <ul class="nav-item">
    <a class="nav-heading" href="/newsroom">Newsroom</a>
    <li><a href="/newsroom/events">Events</a></li>
    <li><a href="/newsroom/news">News</a></li>
    <li><a href="/newsroom/publications">Publications</a></li>
  </ul>

  <ul class="nav-item nav-contact">
    <a class="nav-heading" href="/contact">Contact</a>
    <li>1800 JFK Blvd. Suite 300</li>
    <li>Philadelphia, PA 19103</li>
    <li>267-603-2378</li>
    <li><a href="mailto:info@nearmissmgmt.com">info@nearmissmgmt.com</a></li>
    <span class="footer-social">
      <a href="https://www.linkedin.com/company/near-miss-management"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i></a>
      <a href="https://linkedin.com/{{ site.twitter.username }}"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i></a>
    </span>

  </ul>

</div>




<!-- Footer Info -->
<div class="page__footer-info">
  <a href="/index.html"><span class="page__footer-brand">
    <img src="{{ site.url }}/images/logo-w.png">
    <img src="{{ site.url }}/images/logo.png">
  </span></a>
  <span class="page__footer-text">
    <p>Near-Miss Management (NMM) provides one-of-its-kind enterprise risk detection and advanced warning platform for the process industries. Described as ​disruptive innovation​ by our customers, NMM products are transforming how risks are managed in industrial operations.</p>
  </span>
</div>


<!-- Footer Copyright -->
<div class="page__footer-legal">
  &copy; {{ site.time | date: '%Y' }} Near-Miss Management LLC.<br>
  <a href="/terms">Terms of Use</a> | <a href="/privacy">Privacy Policy</a>
</div>



