{% include base_path %}

<div class="tophead">

<!--   <div class="brand">
    <div class="logo"><a href="/"><img src="/images/monogram-logo.png" alt="Near-Miss Management"/></div> </a>
  </div> -->

</div>

<div class="masthead" id="stickyheader">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg brand">


           <span class="logo"><img src="/images/monogram-logo.png" alt="Near-Miss Management"/></span>

           <a href="{{ base_path }}/">{{ site.title }}</a></li>
           {% for link in site.data.navigation.main %}
           {% if link.url contains 'http' %}
           {% assign domain = '' %}
           {% else %}
           {% assign domain = base_path %}
           {% endif %}
           <li class="masthead__menu-item {% if page.url == link.url %} active{% endif %} "><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
           {% endfor %}
         </ul>
         <ul class="hidden-links hidden"></ul>
       </nav>
     </div>
   </div>
 </div>

