{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% capture teaser %}{{ site.teaser }}{% endcapture %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item item-{{ post.category | downcase }}">
  <article class="archive__item archive__item-{{ post.category | downcase }}" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser != blank %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <div class="archive__item-link"><a href="{{ base_path }}{{ post.url }}" rel="permalink">Read More <i class="fa fa-arrow-right" title="permalink"> </i></a></div>
    <h2 class="archive__item-title" itemprop="headline">{{ title }}</h2>

    {% if post.type %} <span class="archive__item-author">{{ post.type }}</span>{% endif %}
    
    {% if post.logo %} <span class="archive__item-logo"><img src="{{ site.url }}/images/logos/{{ post.logo | downcase }}.png" alt="{{ post.logo }}"></span>{% endif %}
    


  </article>
</div>










