{% include base_path %}

{% if page.publication and site.data.publications[page.publication] %}
{% assign publication = site.data.publications[page.publication] %}{% else %}{% assign publication = site.publication %}
{% endif %}


{% if publication.logo %}
<div class="publication__avatar">
  {% if publication.logo contains "://" %}
  <img src="{{ publication.logo }}" alt="{{ publication.name }}">
  {% else %}
  <img src="{{ publication.logo | prepend: "/images/logos/" | prepend: base_path }}.png" class="author__avatar" alt="{{ publication.name }}">
  {% endif %}
</div>
{% endif %}

<div class="author__content">
  <h3 class="author__name">{{ publication.name }}</h3>
  {% if publication.slogan %}<p class="author__bio">{{ publication.slogan }}</p>{% endif %}
  <br>
  {% if page.type %}<p class="author__bio">{{ page.type }}</p>{% endif %}

  {% if page.date %}
  <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> </strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
  {% endif %}

  {% include page__taxonomy.html %}
</div>
