
{% assign posts = group_items[forloop.index0] %}
<!-- <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2> -->
{% for post in posts %}
<div class="team__item">
<img src="{{ site.url }}/images/team/{{ post.name | downcase }}.jpg"> 
<h3>{{ post.full-name }}</h3>
{% if post.role %}<em>{{ post.role }}</em>{% endif %}
{{ post.content }}
{% if post.email %}<button class="btn btn--inverse"><i class="fa fa-envelope"></i> <a href="mailto:{{ post.email }}">Contact {{ post.name }}</a></button>{% endif %}
</div>

{% endfor %}

